{% extends "index.html" %} 
{% load static %}
{% block content %}
<div class="card-cadastro">
	{% with img_livros="img/livros.png" %}
	<img src="{% static img_livros %}"> 
	{% endwith %}
	<hr>
	<h3>cadastrar livros</h3>
	<p>Livros, autores, edições ...</p>
	<button class="card-cadastro-btn" type="submit">clique</button> 
</div>
<div class="card-cadastro">
	{% with img_autores="img/autores.png" %}
	<img src="{% static img_autores %}">
	{% endwith %}
	<hr>
	<h3>cadastrar autores</h3>
	<p>Autores, biografias ...</p>	
	<button class="card-cadastro-btn" type="submit">clique</button>
</div> 
{% endblock %}
