{% extends "index.html" %}
{% block content %}
<div class="estoque-info">
	<div class="saldo">
		<span> saldo: $ </span>
	
	</div>
	<div class="livros">
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>TÍTULO</th>
      <th>ISBN</th>
      <th>EDIÇÃO</th>
      <th>EDITORA</th>
      <th>ANO DE PUBLICAÇÃO</th>
      <th>PREÇO</th>
      <th>CATEGORIA</th>
      <th>AUTOR</th>
      <th>CRUD</th>
    </tr>
  </thead>
  <tbody>
    {% for e in estoque %}
    <tr>
      <td>{{ e.id }}</td>
      <td>{{ e.titulo }}</td>
      <td>{{ e.isbn }}</td>
      <td>{{ e.edicao }}</td>
      <td>{{ e.editora }}</td>
      <td>{{ e.ano_publicacao }}</td>
      <td>{{ e.preco_capa }}</td>
      <td>{{ e.categoria }}</td>
      <td>{{ e.autor }}</td>
      <td><button id="delete-btn" type="submit">excluir</button></td>	
    </tr>
    {% endfor %}
  </tbody>
</table>

	</div>
</div>


{% endblock %}
